.frame {
  background-color: #000;
  background-image: url(../../../assets/img/nebula.jpg);
  background-position-y: 0;
  aspect-ratio: 16 / 9;
  position: relative;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}
